/VideoStore.Example.UnderLoad/Automation/bin/Debug
/VideoStore.Example.UnderLoad/Automation/obj/Debug
/VideoStore.Example.UnderLoad/VideoStore.ContentManagement/bin/Debug
/VideoStore.Example.UnderLoad/VideoStore.ContentManagement/obj/Debug
/VideoStore.Example.UnderLoad/VideoStore.CustomerRelations/bin/Debug
/VideoStore.Example.UnderLoad/VideoStore.CustomerRelations/obj/Debug
/VideoStore.Example.UnderLoad/VideoStore.ECommerce/bin
/VideoStore.Example.UnderLoad/VideoStore.ECommerce/obj/Debug
/VideoStore.Example.UnderLoad/VideoStore.Messages/obj/Debug
/VideoStore.Example.UnderLoad/VideoStore.Messages/bin/Debug
/VideoStore.Example.UnderLoad/*.suo
/VideoStore.Example.UnderLoad/VideoStore.Operations/bin/Debug
/VideoStore.Example.UnderLoad/VideoStore.Operations/obj/Debug
/VideoStore.Example.UnderLoad/VideoStore.Sales/bin/Debug
/VideoStore.Example/VideoStore.ContentManagement/bin/Debug
/VideoStore.Example/VideoStore.CustomerRelations/bin/Debug
/VideoStore.Example/VideoStore.CustomerRelations/obj/Debug
/VideoStore.Example/VideoStore.ECommerce/bin
/VideoStore.Example.UnderLoad/VideoStore.Sales/obj/Debug
/VideoStore.Example/VideoStore.ContentManagement/obj/Debug
/VideoStore.Example/VideoStore.ECommerce/obj/Debug
/VideoStore.Example/VideoStore.Messages/bin/Debug
/VideoStore.Example/VideoStore.Messages/obj/Debug
/VideoStore.Example/VideoStore.Operations/bin/Debug
/VideoStore.Example/VideoStore.Operations/obj/Debug
/VideoStore.Example/VideoStore.Sales/bin/Debug
/VideoStore.Example/VideoStore.Sales/obj/Debug
